{% extends 'base.html' %}
{% load static %}
{% load jalali_tags %}
{% block content %}
    <div class="site-breadcrumb">
        <div class="container">
            <h2 class="breadcrumb-title">{{ project.slug }}</h2>
            <ul class="breadcrumb-menu">
                <li><a href="{% url 'core:home' %}">صفحه اصلی</a></li>
                <i class="ti-control-backward"></i>
                <li class="active">{{ project.slug }}</li>
            </ul>
        </div>
        <div class="hero-shape">
            <img src="{% static 'main/img/shape/03.svg' %}" alt>
        </div>
        <div class="hero-right-circles"></div>
    </div>

    <div class="project-single-area py-120">
        <div class="container">
            <div class="project-single-wrapper">
                <div class="row">
                    <div class="col-xl-4 col-lg-4">
                        <div class="project-sidebar">
                            <div class="widget project-sidebar-content">
                                <h4 class="project-sidebar-title">جزئیات پروژه</h4>
                                <ul>
                                    <li>
                                        دسته بندی <span>{{ project.category }}</span>
                                    </li>
                                    <li>
                                        تاریخ <span>{{ project.created_at|to_jalali:'%Y/%m/%d' }}</span>
                                    </li>
                                    <li>
                                        نام مشتری <span>{{ project.name }}</span>
                                    </li>
                                    <li>
                                        بودجه <span>{{ project.budget }}</span>
                                    </li>
                                    <li>
                                        مدیر پروژه <span>{{ project.project_manager }}</span>
                                    </li>
                                    <li>
                                        محل <span>{{ project.place }}</span>
                                    </li>
                                    <li>
                                        <a href="{{ project.website }}">سایت اینترنتی <span>{{ project.website }}</span></a>
                                    </li>
                                    <li>
                                         امتیاز کارفرما
                                        <div class="testimonial-rate">
                                            {% for i in ""|rjust:project.star %}
                                               <i class="fas fa-star"></i>
                                            {% endfor %}
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="widget new-project">
                                <h4>به یک پروژه کاملاً جدید نیاز دارید؟</h4>
                                <a href="{% url 'core:contact' %}" class="new-project-btn">اکنون تماس بگیرید <i class="fas fa-arrow-left"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-8">
                        <div class="project-details">
                            <div class="project-details-img mb-30">
                                <img src="{{ project.main_image.url }}" width="800" height="500">
                            </div>
                            <br>
                            <br>
                        </div>
                            {{ project.description|safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}