{% extends 'base.html' %}
{% block title %}تماس با ما{% endblock %}
{% load static %}
{% block content %}

    <div class="site-breadcrumb">
        <div class="container">
            <h2 class="breadcrumb-title">تماس با ما</h2>
            <ul class="breadcrumb-menu">
                <li><a href="{% url 'core:home' %}">صفحه اصلی</a></li>
                <i class="ti-control-backward"></i>
                <li class="active">تماس با ما</li>
            </ul>
        </div>
        <div class="hero-shape">
            <img src="{% static 'main/img/shape/03.svg' %}" alt>
        </div>
        <div class="hero-right-circles"></div>
    </div>

    <div class="contact-area py-120">
        <div class="container">
            <div class="contact-wrapper">
                <div class="row">
                    <div class="col-lg-8 align-self-center">
                        <div class="contact-form">
                            <div class="contact-form-header">
                                <h2>با ما در تماس باشید</h2>
                                <p>{{ site_settings.contact_us_text }}</p>
                            </div>
                                <form method="post" id="contact-form">
                                    {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="name" placeholder="اسم شما" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="email" class="form-control" name="email" placeholder="ایمیل شما" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="subject" placeholder="موضوع" required>
                                </div>
                                <div class="form-group">
                                    <textarea name="message" cols="30" rows="5" class="form-control" placeholder="پیام خود را بنویسید"></textarea>
                                </div>
                                <button type="submit" class="theme-btn">ارسال
                                    پیام <i class="far fa-paper-plane"></i></button>
                                <div class="col-md-12 mt-3">
                                    <div class="form-messege text-success"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="contact-content">
                            <div class="contact-info">
                                <div class="contact-info-icon">
                                    <i class="fas fa-map-marker-alt"></i>
                                </div>
                                <div class="contact-info-content">
                                    <h5>آدرس دفتر</h5>
                                    <p>{{ site_settings.address }}</p>
                                </div>
                            </div>
                            <div class="contact-info">
                                <div class="contact-info-icon">
                                    <i class="fas fa-phone"></i>
                                </div>
                                <div class="contact-info-content">
                                    <h5>با ما تماس بگیرید</h5>
                                    <a href="tel:{{ site_settings.phone }}">
                                        <p>{{ site_settings.phone }}</p>
                                    </a>
                                </div>
                            </div>
                            <div class="contact-info">
                                <div class="contact-info-icon">
                                    <i class="fas fa-envelope"></i>
                                </div>
                                <div class="contact-info-content">
                                    <h5>به ما ایمیل بزنید</h5>
                                    <p><a href="mailto:{{ site_settings.email }}" class="__cf_email__">{{ site_settings.email }}</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}