{% extends 'base.html' %}
{% load static %}
{% block title %}
    WebUniCode Studio
{% endblock %}
{% block content %}
<script>
  function scrollToSection() {
    let target = document.getElementById("services");
    target.scrollIntoView({ behavior: "smooth" });
  }
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const filterBtns = document.querySelectorAll('.filter-btns li');
        const filterBox = document.querySelector('.filter-box');

        // Initialize Isotope
        const iso = new Isotope(filterBox, {
            itemSelector: '.filter-item',
            layoutMode: 'fitRows'
        });

        // Filter on button click
        filterBtns.forEach(btn => {
            btn.addEventListener('click', function () {
                const filterValue = this.getAttribute('data-filter');
                iso.arrange({ filter: filterValue });

                // Remove active class from all buttons
                filterBtns.forEach(btn => btn.classList.remove('active'));
                // Add active class to the clicked button
                this.classList.add('active');
            });
        });
    });
</script>

<div class="hero-section">
    <div class="hero-single custom-hero-single">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 col-lg-6">
                    <div class="hero-content">
                        <h1 class="hero-title wow animate__animated animate__fadeInUp" data-wow-duration="1s" data-wow-delay=".50s">
                            توانمندسازی کسب و کار دیجیتال شما
                        </h1>
                        <p class="wow animate__animated animate__fadeInUp" data-wow-duration="1s" data-wow-delay=".75s">
                            در WebUniCode، ما خلاقیت و فناوری را ترکیب می‌کنیم تا تجربه‌های وب استثنائی بسازیم که کسب‌وکارها را توانمند کرده و تعامل کاربران را افزایش دهد
                        </p>
                        <div class="hero-btn wow animate__animated animate__fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
                            <a onclick="scrollToSection()" class="theme-btn">خدمات ما<i class="fa fa-arrow-left"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="hero-img">
                        <img src="{% static 'main/img/slider/hero-2.png' %}" alt>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-shape">
            <img src="{% static 'main/img/shape/01.png' %}" alt>
        </div>
        <div class="hero-right-circles"></div>
    </div>
</div>

<div class="feature-area pt-120">
    <div class="container">
        <div class="feature-wrapper">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="feature-item">
                        <div class="feature-top">
                            <div class="feature-icon">
                                <i class="ti-bookmark-alt"></i>
                            </div>
                            <h4>تضمین کیفیت</h4>
                        </div>
                        <div class="feature-content">
                            <p>ما با رعایت بالاترین استانداردهای طراحی و توسعه، کیفیت را در اولویت قرار می‌دهیم تا بهترین تجربه را برای کاربران و مشتریان شما فراهم کنیم.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="feature-item">
                        <div class="feature-top">
                            <div class="feature-icon">
                                <i class="ti-paint-bucket"></i>
                            </div>
                            <h4>بهترین تکنولوژی</h4>
                        </div>
                        <div class="feature-content">
                            <p>با استفاده از جدیدترین فناوری‌های وب و به‌روزترین ابزارهای برنامه‌نویسی، راهکارهای نوآورانه‌ای ارائه می‌دهیم که کسب‌وکار شما را به سطح بالاتری می‌برد.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="feature-item">
                        <div class="feature-top">
                            <div class="feature-icon">
                                <i class="ti-layers-alt"></i>
                            </div>
                            <h4>پشتیبانی آنلاین 24/7</h4>
                        </div>
                        <div class="feature-content">
                            <p>هر زمان که نیاز داشته باشید، ما در کنار شما هستیم. تیم پشتیبانی ما ۲۴ ساعت شبانه‌روز آماده پاسخگویی و رفع مشکلات شماست.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="about-area py-120">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-left">
                    <div class="about-img">
                        <img src="{% static 'main/img/about/01.png' %}" alt>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-right">
                    <div class="site-heading mb-3">
                        <h2 class="site-title">
                            ما <span class="site-title">آینده دیجیتال</span> کسب‌وکار شما را می‌سازیم!
                        </h2>
                    </div>
                    <br>
                    <p class="about-text">
                        💡 راهکارهای نوآورانه و خلاقانه برای حضوری قدرتمند، متمایز و پایدار در دنیای وب، با استفاده از جدیدترین تکنولوژی‌ها و بهترین استراتژی‌های دیجیتال
                    </p>
                    <div class="about-list-wrapper">
                        <ul class="about-list list-unstyled">
                            <li>طراحی مدرن و خلاقانه متناسب با نیازهای شما</li>
                            <li>توسعه‌ی وب‌سایت‌های سریع، امن و کاربرپسند</li>
                            <li>پشتیبانی مداوم برای رشد و بهبود کسب‌وکار شما</li>
                        </ul>
                    </div>
                    <a href="{% url 'core:contact' %}" class="theme-btn mt-4">مشاوره رایگان <i class="fa fa-arrow-left"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="services" class="service-area bg py-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="site-heading text-center">
                    <h2 class="site-title">ما چه چیزی <span> پیشنهاد میدهیم</span></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="ti-crown"></i>
                    </div>
                    <div class="service-content">
                        <h3 class="service-title">
                            <a href="#">طراحی وب سایت</a>
                        </h3>
                        <p class="service-text">
                            ایجاد وب‌سایت‌های مدرن، خلاقانه و کاربرپسند متناسب با نیازهای شما
                        </p>
                        <div class="service-arrow">
                            <a href="#">ادامه مطلب <i class="fa fa-arrow-left"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="ti-layout"></i>
                    </div>
                    <div class="service-content">
                        <h3 class="service-title">
                            <a href="#">نوشتن محتوا</a>
                        </h3>
                        <p class="service-text">
                            تولید محتوای جذاب و تأثیرگذار برای افزایش تعامل کاربران
                        </p>
                        <div class="service-arrow">
                            <a href="#">ادامه مطلب <i class="fa fa-arrow-left"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="ti-camera"></i>
                    </div>
                    <div class="service-content">
                        <h3 class="service-title">
                            <a href="#">توسعه وب</a>
                        </h3>
                        <p class="service-text">
                            کدنویسی و پیاده‌سازی وب‌سایت‌های حرفه‌ای با عملکرد بالا
                        </p>
                        <div class="service-arrow">
                            <a href="#"> ادامه مطلب <i class="fa fa-arrow-left"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="ti-palette"></i>
                    </div>
                    <div class="service-content">
                        <h3 class="service-title">
                            <a href="#">بهینه سازی سئو</a>
                        </h3>
                        <p class="service-text">
                            افزایش رتبه سایت شما در موتورهای جستجو و جذب مخاطب بیشتر
                        </p>
                        <div class="service-arrow">
                            <a href="#">ادامه مطلب <i class="fa fa-arrow-left"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="ti-world"></i>
                    </div>
                    <div class="service-content">
                        <h3 class="service-title">
                            <a href="#">برنامه تحت وب</a>
                        </h3>
                        <p class="service-text">
                            توسعه اپلیکیشن‌های تحت وب با جدیدترین فناوری‌ها
                        </p>
                        <div class="service-arrow">
                            <a href="#">ادامه مطلب  <i class="fa fa-arrow-left"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="ti-announcement"></i>
                    </div>
                    <div class="service-content">
                        <h3 class="service-title">
                            <a href="#">مشاوره وب</a>
                        </h3>
                        <p class="service-text">
                            راهنمایی تخصصی برای رشد و بهینه‌سازی حضور آنلاین شما
                        </p>
                        <div class="service-arrow">
                            <a href="#">ادامه مطلب <i class="fa fa-arrow-left"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="skill-area py-120">
    <div class="container">
        <div class="skill-wrapper">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 col-12">
                    <div class="skill-left">
                        <div class="skill-img">
                            <img src="{% static 'main/img/skill/01.png' %}" alt="thumb">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="skill-right">
                        <div class="site-heading mb-3">
                            <h2 class="site-title">
                                مهارت‌های ما، کلید موفقیت شما! 🚀
                            </h2>
                        </div>
                        <p>
                            ما با ترکیبی از تخصص، خلاقیت و تجربه، آماده‌ایم تا کسب‌وکار شما را به سطح بالاتری برسانیم. خدمات ما شامل:
                        </p>
                        <div class="skill-wrapper">
                            <div class="skill-progress-item">
                                <h5 class="skill-tag">طراحی وب سایت</h5>
                                <div class="skill-box">
                                    <div class="progress-line" data-width="75">
                                        <span class="skill-percentage">75%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="skill-progress-item">
                                <h5 class="skill-tag">بهینه سازی سئو</h5>
                                <div class="skill-box">
                                    <div class="progress-line" data-width="70">
                                        <span class="skill-percentage">70%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="skill-progress-item">
                                <h5 class="skill-tag">توسعه وب</h5>
                                <div class="skill-box">
                                    <div class="progress-line" data-width="90">
                                        <span class="skill-percentage">90%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="counter-area pt-80 pb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="counter-box">
                    <div class="icon">
                        <i class="ti-stats-up"></i>
                    </div>
                    <div>
                        <span class="counter" data-count="+" data-to="{{ team.completed_projects }}" data-speed="3000">{{ team.completed_projects }}</span>
                        <h6 class="title">+ پروژه های انجام شده
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="counter-box">
                    <div class="icon">
                        <i class="ti-timer"></i>
                    </div>
                    <div>
                        <span class="counter" data-count="+" data-to="{{ team.satisfied_customers }}" data-speed="3000">{{ team.satisfied_customers }}</span>
                        <h6 class="title">+ مشتریان خوشحال و راضی</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="counter-box">
                    <div class="icon">
                        <i class="ti-pulse"></i>
                    </div>
                    <div>
                        <span class="counter" data-count="+" data-to="{{ team.members }}" data-speed="3000">{{ team.members }}</span>
                        <h6 class="title">+ کارکنان حرفه‌ای و با تجربه</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="counter-box">
                    <div class="icon">
                        <i class="ti-package"></i>
                    </div>
                    <div>
                        <span class="counter" data-count="+" data-to="{{ team.full_support }}" data-speed="3000">{{ team.full_support }}</span>
                        <h6 class="title">+ پشتیبانی کامل</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="choose-area py-120">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="choose-content">
                    <div class="site-heading mb-3">
                        <h2 class="site-title">
                            راهکارهای حرفه‌ای برای <span> حضور قدرتمند </span> شما در وب
                        </h2>
                    </div>
                    <p>
                        با اعتماد به ما، مسیر موفقیت در کسب و کار آنلاین را هموار کنید و خود را به سطحی بالاتر برسانید.
                    </p>
                    <div class="choose-wrapper mt-4">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="choose-item">
                                    <i class="far fa-check-double"></i>
                                    <h6>امنیت پیشرفته پایگاه داده</h6>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="choose-item">
                                    <i class="far fa-check-double"></i>
                                    <h6>سال‌ها تجربه موفق</h6>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="choose-item">
                                    <i class="far fa-check-double"></i>
                                    <h6>تأیید شده توسط مشتریان</h6>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="choose-item">
                                    <i class="far fa-check-double"></i>
                                    <h6>به‌روزرسانی دائمی و مستمر</h6>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="choose-item">
                                    <i class="far fa-check-double"></i>
                                    <h6>ارائه خدمات با بالاترین کیفیت</h6>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="choose-item">
                                    <i class="far fa-check-double"></i>
                                    <h6>حذف کامل تهدیدات و بدافزارها</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="choose-img">
                    <img src="{% static 'main/img/choose/01.png' %}" alt>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="project-area py-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto">
                <div class="site-heading text-center">
                    <h2 class="site-title">ما را در <span> در نتیجه کارهایمان </span> قضاوت کنید</h2>
                </div>
                <div class="filter-controls">
                    <ul class="filter-btns">
                        <li class="active" data-filter="*">همه</li>
                        {% for category in categories %}
                            <li data-filter=".cat{{ category.id }}">{{ category.title }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="row mt-4 filter-box popup-gallery">
            {% for category in categories %}
                {% for project in category.projects.all %}
                    <div class="col-md-4 filter-item cat{{ category.id }}">
                        <div class="project-item">
                            <div class="project-img">
                                <img src="{{ project.main_image.url }}" alt="{{ project.title }}">
                            </div>
                            <div class="project-content">
                                <div class="project-info">
                                    <a href="project/{{ project.slug }}">
                                        <h4 class="project-title">{{ project.slug }}</h4>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>

{% if comments %}
    <div class="testimonial-area py-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="site-heading text-center">
                    <h2 class="site-title">نظرات <span>مشتریان</span></h2>
                </div>
            </div>
        </div>
        <div class="testimonial-slider owl-carousel owl-theme" dir="ltr">
            {% for customer in comments %}
                {% if customer.publish %}
                    <div class="testimonial-single">
                    <div class="testimonial-content">
                        <div class="testimonial-author-img">
                            <img src="{{ customer.image.url }}" alt>
                        </div>
                        <div class="testimonial-author-info">
                            <h4>{{ customer.name }}</h4>
                            <p>{{ customer.brand }}</p>
                        </div>
                    </div>
                    <div class="testimonial-quote">
                        <span class="testimonial-quote-icon"><i class="flaticon-quote-hand-drawn-symbol"></i></span>
                        <p>{{ customer.body }}</p>
                        <div class="testimonial-quote-icon">
                            <img src="{% static 'main/img/icon/quote.svg' %}" alt>
                        </div>
                    </div>
                    <div class="testimonial-rate">
                        {% for i in ""|rjust:customer.star %}
                            <i class="fas fa-star"></i>
                        {% endfor %}
                    </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}

<div class="blog-area bg py-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="site-heading text-center">
                    <h2 class="site-title">آخرین <span>وبلاگ های ما</span></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="blog-item">
                    <div class="blog-item-img">
                        <img src="{% static 'main/img/blog/01.jpg' %}" alt="Thumb">
                    </div>
                    <div class="blog-item-info">
                        <h4 class="blog-title">
                            <a href="#">تنوع زیادی از رنج های موجود وجود دارد</a>
                        </h4>
                        <div class="blog-item-meta">
                            <ul>
                                <li><a href="#"><i class="far fa-user-circle"></i> نوشته آلیشیا دیویس</a></li>
                                <li><a href="#"><i class="far fa-calendar-alt"></i> 12 شهریور 1402</a></li>
                            </ul>
                        </div>
                        <p>
                            انواع مختلفی از معابر در دسترس است، اما اکثر آنها
                            به نوعی دچار تغییر شده اند.
                        </p>
                        <a class="theme-btn" href="#">ادامه مطلب<i class="fa fa-arrow-left"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="blog-item">
                    <div class="blog-item-img">
                        <img src="{% static 'main/img/blog/02.jpg' %}" alt="Thumb">
                    </div>
                    <div class="blog-item-info">
                        <h4 class="blog-title">
                            <a href="#">تنوع زیادی از رنج های موجود وجود دارد</a>
                        </h4>
                        <div class="blog-item-meta">
                            <ul>
                                <li><a href="#"><i class="far fa-user-circle"></i> نوشته آلیشیا دیویس</a></li>
                                <li><a href="#"><i class="far fa-calendar-alt"></i> 12 شهریور 1402</a></li>
                            </ul>
                        </div>
                        <p>
                            انواع مختلفی از معابر در دسترس است، اما اکثر آنها
                            به نوعی دچار تغییر شده اند.
                        </p>
                        <a class="theme-btn" href="#">ادامه مطلب<i class="fa fa-arrow-left"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="blog-item">
                    <div class="blog-item-img">
                        <img src="{% static 'main/img/blog/03.jpg' %}" alt="Thumb">
                    </div>
                    <div class="blog-item-info">
                        <h4 class="blog-title">
                            <a href="#">تنوع زیادی از رنج های موجود وجود دارد</a>
                        </h4>
                        <div class="blog-item-meta">
                            <ul>
                                <li><a href="#"><i class="far fa-user-circle"></i> نوشته آلیشیا دیویس</a></li>
                                <li><a href="#"><i class="far fa-calendar-alt"></i> 12 شهریور 1402</a></li>
                            </ul>
                        </div>
                        <p>
                            انواع مختلفی از معابر در دسترس است، اما اکثر آنها
                            به نوعی دچار تغییر شده اند.
                        </p>
                        <a class="theme-btn" href="#">ادامه مطلب<i class="fa fa-arrow-left"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cta-area pt-80 pb-80">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 text-center text-lg-end">
                <div class="cta-text cta-divider">
                    <h1>پروژه وب خود را سریع، آسان و مقرون‌به‌صرفه دریافت کنید!</h1>
                    <p>کسب‌وکار شما شایسته یک حضور قدرتمند در وب است! با راهکارهای حرفه‌ای و مقرون‌به‌صرفه ما، پروژه آنلاین خود را به موفقیت برسانید. همین حالا با ما تماس بگیرید!</p>
                </div>
            </div>
            <div class="col-lg-5 text-center text-lg-start">
                <div class="mb-20">
                    <a href="#" class="cta-border-btn"><i class="fas fa-headset"></i>+2 123 654 7898</a>
                </div>
                <div>
                    <a href="{% url 'core:contact' %}" class="theme-btn">اکنون تماس بگیرید<i class="fa fa-arrow-left"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}